* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}

body {
  background-color: #000c25;
}

img {
  display: block;
  margin: auto;
  margin-top: 1.5em;
}

label,
input,
button {
  display: block;
}

label,
.name {
  text-align: center;
  font-size: 2.3em;
  margin: 30px;
  color: #53aeb1;
}

input {
  margin: auto;
  padding-left: 1%;
  height: 3em;
  width: 19em;
}

input:focus {
  box-shadow: 1px 1px 8px 1px #f2f2f2;
  ;
}

button {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 9em;
  height: 3em;
  color: black;
  background-color: cadetblue;
  border-radius: 10px;
}

.name {
  color: #e2bf00;
  text-shadow: 1px -1px black;
  font-size: 2.8em;
}

.name img {
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  padding: 2px;
  display: block;
  margin: auto;
  max-width: 13%;
  height: auto;
  margin-top: 14px;
}

.linkContainer {
  color: #f2f2f2;
  font-size: 1.3em;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.linkContainer a {
  color: #e2bf00;
  font-weight: bold;
}

.linkContainer a:hover {
  color: cadetblue;
  text-decoration: none;
}

.alert {
  display: none;
  padding: 10px;
  font-size: 17px;
  background-color: #770007;
  color: #f2f2f2;
  margin-bottom: 15px;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.closebtn {
  margin-left: 30px;
  color: #f2f2f2;
  font-weight: bold;
  float: right;
  font-size: 25px;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: black;
}

.repos,
.followings,
.followers {
  width: 33.3333%;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  float: left;
}

.repos h4,
.followings h4,
.followers h4 {
  color: #f2f2f2;
  font-size: 1.1em;
  border-bottom: 1px solid;
  width: fit-content;
  margin: auto;
  margin-bottom: 24px;
}

.repos p,
.followings p,
.followers p {
  color: cadetblue;
  margin: auto;
  line-height: 2em;
  border-bottom: 1px solid #e2bf00;
}
}